/*!
 * Base styles
 */
body {
	font-family: arial;
	margin: 0;
	padding: 0;
}
/*
 * Navigation Component
 */
.navigation {
	background-color: rgb(60, 60, 60);
	box-shadow: 2px 0 2px rgb(80, 80, 80);
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.navigation-container {
	margin: 0 auto;
	width: 1000px;
}
.navigation-logo {
	display: inline-block;
	vertical-align: middle;
}
.navigation-logoImage {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
}
.navigation-links {
	font-size: 0;
	float: right;
	list-style: none;
	margin:0px;
	padding: 0px;
	vertical-align: middle;
}
.navigation-element {
	display: inline-block;
	line-height: 50px;
}
.navigation-link {
	color: rgb(250, 250, 250);
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
	padding: 1rem 0.75rem;
	text-decoration: none;
	transition: 0.1s ease;
}
.navigation-link:hover {
	background-color: rgb(245, 245,245);
	color: rgb(80, 80, 80);
}
/*
 * Hero Component
 */
.hero {
	display: block;
	height: 728px;
	width: 100%;
}
.hero-container {
	margin: 0 auto;
	padding: 10rem 0;
	position: relative;
	width: 1000px;
}
.hero-video {
	height: auto;
	position: absolute;
	width: 100%;
}
.hero-mainTitle,
.hero-subTitle {
	color: rgb(250, 250, 250);
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-shadow: 1px 1px 4px rgb(80, 80, 80);
}
.hero-mainTitle {
	font-size: 2.5rem;
	margin: 2rem 0;
}
.hero-donate {
	background: #29B9F7;
	border: none;
	border-radius: 0.25rem;
	box-shadow: 1px 1px 4px rgb(80, 80, 80);
	color: rgb(250, 250, 250);
	display: block;
	font-size: 1.25rem;
	font-weight: bold;
	margin: 1.5rem auto;
	padding: 1rem 1.25rem;
	text-align: center;
	text-shadow: 1px 1px 4px rgb(80, 80, 80);
}
/*
 * Contact Component
 */
.contact {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.contact-container {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}
.contact-title {
	text-align: center;
	padding: 0;
}
.contact-form {
	background-color: rgb(240,240,240);
	box-sizing: border-box;
	margin: 0 auto;
	padding: 1rem 0;
	width: 500px;
}
.contact-formInput,
.contact-formTextarea {
	border: 1px solid rgb(200, 200, 200);
	box-sizing: border-box;
	border-radius: 4px;
	display: block;
	margin: 0.5rem auto;
	padding: 16px;
	width: 90%;
}
.contact-formButton {
	border: 1px solid rgb(180, 180, 180);
	border-radius: 0.25rem;
	display: block;
	margin: 0 auto;
	padding: 1rem;
	width: 90%;
}
